# Virtual environment
venv/

# Data files (too large for GitHub)
data/raw/
data/splits/

# Model weights (too large for GitHub)
src/models/saved/

# Python cache
__pycache__/
*.pyc
*.pyo
.DS_Store

# Env files
.env